@mixin column-is{
  @for $i from 1 through 12 {
		@if $i < 9{
			&.is-0#{$i} {
				flex: none;
				width: percentage(math.div($i, 12));
			}
		}
		@else{
			&.is-#{$i} {
				flex: none;
				width: percentage(math.div($i, 12));
			}
		}
	}
}