// Display flex
@mixin ds-flex{
	&-flex {
		display: flex;

		&-center {
			display: flex;
			@include positioning-center;
		}
	}

	&-inline-flex {
		display: inline-flex;

		&-center {
			display: inline-flex;
			@include positioning-center;
		}
	}
}

// Flex flow
@mixin flex-flow {
	&-row-wr {
		flex-flow: row wrap;
	}

	&-row-nw {
		flex-flow: row nowrap;
	}

	&-row-reverse-wr {
		flex-flow: row-reverse wrap;
	}

	&-row-reverse-nw {
		flex-flow: row-reverse nowrap;
	}

	&-col-wr {
		flex-flow: column wrap;
	}

	&-col-nw {
		flex-flow: column nowrap;
	}

	&-col-reverse-wr {
		flex-flow: column-reverse wrap;
	}

	&-col-reverse-nw {
		flex-flow: column-reverse nowrap;
	}
}

// Justify content and Align items
@mixin positioning($property) {
	&-start {
		#{$property}: flex-start;
	}

	&-center {
		#{$property}: center;
	}

	&-end {
		#{$property}: flex-end;
	}
}

// Justify content and Align items - center
@mixin positioning-center {
	align-items: center;
	justify-content: center;
}

// Justify content
@mixin positioning-justify {
	&-between {
		justify-content: space-between;
	}

	&-around {
		justify-content: space-around;
	}

	&-evenly {
		justify-content: space-evenly;
	}
}

// Align items
@mixin positioning-align {
	&-stretch {
		align-items: stretch;
	}

	&-baseline {
		align-items: baseline;
	}
}
