// Mixin heading
@mixin heading {
	@for $i from 1 through 6 {
		&#{$i} {
			font-size: var(--bv-heading-0#{$i});
		}
	}
}

// Mixin display font size
@mixin typography-display {
	&-lg {
		font-size: var(--bv-display-lg)
	}

	&-md {
		font-size: var(--bv-display-md)
	}

	&-sm {
		font-size: var(--bv-display-sm)
	}
}

// Mixin for title size
@mixin title-size {
	&-lg {
		font-size: 2.5em;
	}

	&-md {
		font-size: 2em;
	}

	&-sm {
		font-size: 1.5em;
	}

	&-xs {
		font-size: 1.25em;
	}

	&-2xs {
		font-size: 1em;
	}

	&-3xs {
		font-size: 0.75em;
	}
}

// Mixin for text size
@mixin font-size {
	&-lg {
		font-size: 1.25em;
	}

	&-md {
		font-size: 1em;
	}

	&-sm {
		font-size: 0.75em;
	}

	&-xs {
		font-size: 0.625em;
	}
}

// Mixin text
@mixin text($property, $values...) {
	@each $value in $values {
		&-#{$property}-#{$value} {
			text-#{$property}: $value !important;
		}
	}
}

// Mixin Style
@mixin font-style($property, $values...) {
	@each $value in $values {
		&-#{$property}-#{$value} {
			font-#{$property}: $value !important;
		}
	}
}

// Mixin font weight
@mixin weight {
	&-weight {
		&-200,
		&-extra-light {
			font-weight: 200 !important;
		}

		&-300,
		&-light {
			font-weight: 300 !important;
		}

		&-400,
		&-regular {
			font-weight: 400 !important;
		}

		&-500,
		&-medium {
			font-weight: 500 !important;
		}

		&-600,
		&-semi-bold {
			font-weight: 600 !important;
		}

		&-700,
		&-bold {
			font-weight: 700 !important;
		}

		&-800,
		&-extra-bold {
			font-weight: 800 !important;
		}

		&-900,
		&-black {
			font-weight: 900 !important;
		}

		&-1000,
		&-weight {
			font-weight: 1000 !important;
		}
	}
}

// Mixin for block content
@mixin block-content {
	&-sm {
		gap: var(--block-content-sm);
	}

	&-md {
		gap: var(--block-content-md);
	}

	&-lg {
		gap: var(--block-content-lg);
	}
}