@mixin typography-display {
	&-lg {
		font-size: clamp(6em, 10vw, 12em);
	}

	&-md {
		font-size: clamp(4.5em, 5vw, 6em);
	}

	&-sm {
		font-size: 4.5em;
	}
}

.display {
	@include typography-display;
}
