:root {
	// Typography
	--bv-font-heading: Nunito, Arial, sans-serif;
	--bv-font-text: Nunito, Arial, sans-serif;
	--bv-font-form: Nunito, Arial, sans-serif;

	--bv-title-weight: 700;
	--bv-heading-weight: 700;
	--bv-font-weight: 400;

	--bv-title-color: #000000;
	--bv-text-color: #212121;

	// Heading
	--bv-heading-01: 2.5em;
	--bv-heading-02: 2em;
	--bv-heading-03: 1.5em;
	--bv-heading-04: 1.25em;
	--bv-heading-05: 1em;
	--bv-heading-06: 0.75em;

	// Display
	--bv-display-xs: 3em;
	--bv-display-sm: 4em;
	--bv-display-md: 4.5em;
	--bv-display-lg: clamp(4.5em, 5vw, 6em);
	--bv-display-xl: clamp(6em, 11vw, 12em);

	// Title
	--bv-title-sm: 1.5em;
	--bv-title-md: 2em;
	--bv-title-lg: 2.5em;

	// Text
	--bv-text-xs: 0.625em;
	--bv-text-sm: 0.75em;
	--bv-text-md: 1em;
	--bv-text-lg: 1.25em;
	--bv-text-xl: 1.5em;

	// Block content
	--bv-block-content-sm: 0.5rem;
	--bv-block-content-md: 1rem;
	--bv-block-content-lg: 1.5rem;

	// Border radius
	--bv-radius-sm: 0.25rem;
	--bv-radius-md: 0.5rem;
	--bv-radius-lg: 0.75rem;
	--bv-radius-xl: 1rem;
	--bv-radius-2xl: 2rem;

	// Box shadow
	--bv-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.04),
		0px 3px 3px rgba(0, 0, 0, 0.03), 0px 2px 2px rgba(0, 0, 0, 0.02);

	--bv-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);

	--bv-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);

	--bv-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);

	--bv-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);

	// Transition duration
	--bv-duration-fast: 64ms;
	--bv-duration-normal: 256ms;
	--bv-duration-slow: 384ms;

	// Transition timing function
	--bv-ease-linear: linear;
	--bv-ease-in: cubic-bezier(0.47, 0, 0.75, 0.71);
	--bv-ease-out: cubic-bezier(0.39, 0.57, 0.56, 1);
	--bv-ease-in-out: cubic-bezier(0.44, 0.05, 0.55, 0.95);

	// Scrollbar style
	--bv-scrollbar-size: 0.75rem;
	--bv-scrollbar-background: var(--bv-gray-80);
	--bv-scrollbar-radius: var(--bv-radius-md);
	--bv-scrollbar-color: var(--bv-violet-60);
	--bv-scrollbar-color-hover: var(--bv-violet-40);
}

// Prefix
$prefix: 'bv';

// Screen size
$screen-2xl: 96rem;
$screen-xl: 80rem;
$screen-lg: 64rem;
$screen-md: 48rem;
$screen-sm: 40rem;
