:root {
	--bv-hsl-primary-01: 238, 33%, 20%;
	--bv-hsl-primary-02: 185, 72%, 50%;
	--bv-hsl-primary-03: 0, 0%, 100%;
	--bv-primary-01: hsla(var(--bv-hsl-primary-01), 1);
	--bv-primary-02: hsla(var(--bv-hsl-primary-02), 1);
	--bv-primary-03: hsla(var(--bv-hsl-primary-03), 1);

	--bv-secondary-01: hsla(258, 84%, 18%, 1);
	--bv-secondary-02: hsla(92, 90%, 43%, 1);
	--bv-secondary-03: hsla(230, 90%, 20%, 1);
	--bv-secondary-04: hsla(45, 98%, 52%, 1);

	--bv-violet-01: hsla(238, 32%, 80%, 1);
	--bv-violet-02: hsla(238, 32%, 60%, 1);
	--bv-violet-03: hsla(238, 32%, 40%, 1);

	--bv-ciano-01: hsla(185, 72%, 90%, 1);
	--bv-ciano-02: hsla(185, 72%, 70%, 1);
	--bv-ciano-03: hsla(185, 100%, 50%, 1);

	--bv-gray-01: hsla(0, 0%, 95%, 1);
	--bv-gray-02: hsla(0, 0%, 80%, 1);
	--bv-gray-03: hsla(0, 0%, 50%, 1);
	--bv-gray-04: hsla(0, 0%, 20%, 1);

	--bv-purple-01: hsla(258, 84%, 40%, 1);

	--bv-lemon-01: hsla(92, 90%, 63%, 1);

	--bv-blue-01: hsla(230, 90%, 60%, 1);

	--bv-yellow-01: hsla(45, 98%, 72%, 1);

	--bv-cherry-01: hsla(348, 92%, 42%, 1);
}
