.duration {
	&-fast {
		transition-duration: var(--bv-duration-fast);
	}
	&-normal {
		transition-duration: var(--bv-duration-normal);
	}
	&-slow {
		transition-duration: var(--bv-duration-slow);
	}
}

.property {
	&-none {
		transition-property: none;
	}

	&-all {
		transition-property: all;
	}

	&-colors {
		transition-property: color, background-color, border-color,
			text-decoration-color, fill, stroke;
	}

	&-opacity {
		transition-property: opacity;
	}

	&-shadow {
		transition-property: box-shadow;
	}

	&-transform {
		transition-property: transform;
	}
}

.ease {
	&-linear {
		transition-timing-function: linear;
	}

	&-in {
		transition-timing-function: var(--bv-ease-in);
	}

	&-out {
		transition-timing-function: var(--bv-ease-out);
	}

	&-in-out {
		transition-timing-function: var(--bv-ease-in-out);
	}
}
