@mixin flex-flow {
	&-row-wr {
		flex-flow: row wrap;
	}

	&-row-nw {
		flex-flow: row nowrap;
	}

	&-row-reverse-wr {
		flex-flow: row-reverse wrap;
	}

	&-row-reverse-nw {
		flex-flow: row-reverse nowrap;
	}

	&-col-wr {
		flex-flow: column wrap;
	}

	&-col-nw {
		flex-flow: column nowrap;
	}

	&-col-reverse-wr {
		flex-flow: column-reverse wrap;
	}

	&-col-reverse-nw {
		flex-flow: column-reverse nowrap;
	}
}

.ds {
	&-flex {
		display: flex;

		&-center {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&-inline-flex {
		display: inline-flex;
	}
}

.flow {
	@include flex-flow;
}

.justify {
	&-start {
		justify-content: flex-start;
	}

	&-center {
		justify-content: center;
	}

	&-end {
		justify-content: flex-end;
	}

	&-between {
		justify-content: space-between;
	}

	&-around {
		justify-content: space-around;
	}

	&-evenly {
		justify-content: space-evenly;
	}
}

.align {
	&-start {
		align-items: flex-start;
	}

	&-center {
		align-items: center;
	}

	&-end {
		align-items: flex-end;
	}

	&-stretch {
		align-items: stretch;
	}
}
