.gap {
	&less,
	&-0 {
		gap: 0;
	}

	&-xs {
		gap: 0.25rem;
	}

	&-sm {
		gap: 0.5rem;
	}

	&-md {
		gap: 1rem;
	}

	&-lg {
		gap: 2rem;
	}

	&-xl {
		gap: 4rem;
	}
}

.\32xl {
	@media (max-width: $screen-2xl) {
		&\:gap {
			&less,
			&-0 {
				gap: 0;
			}

			&-xs {
				gap: 0.25rem;
			}

			&-sm {
				gap: 0.5rem;
			}

			&-md {
				gap: 1rem;
			}

			&-lg {
				gap: 2rem;
			}

			&-xl {
				gap: 4rem;
			}
		}
	}
}

.xl {
	@media (max-width: $screen-xl) {
		&\:gap {
			&less,
			&-0 {
				gap: 0;
			}

			&-xs {
				gap: 0.25rem;
			}

			&-sm {
				gap: 0.5rem;
			}

			&-md {
				gap: 1rem;
			}

			&-lg {
				gap: 2rem;
			}

			&-xl {
				gap: 4rem;
			}
		}
	}
}

.lg {
	@media (max-width: $screen-lg) {
		&\:gap {
			&less,
			&-0 {
				gap: 0;
			}

			&-xs {
				gap: 0.25rem;
			}

			&-sm {
				gap: 0.5rem;
			}

			&-md {
				gap: 1rem;
			}

			&-lg {
				gap: 2rem;
			}

			&-xl {
				gap: 4rem;
			}
		}
	}
}

.md {
	@media (max-width: $screen-md) {
		&\:gap {
			&less,
			&-0 {
				gap: 0;
			}

			&-xs {
				gap: 0.25rem;
			}

			&-sm {
				gap: 0.5rem;
			}

			&-md {
				gap: 1rem;
			}

			&-lg {
				gap: 2rem;
			}

			&-xl {
				gap: 4rem;
			}
		}
	}
}

.sm {
	@media (max-width: $screen-sm) {
		&\:gap {
			&less,
			&-0 {
				gap: 0;
			}

			&-xs {
				gap: 0.25rem;
			}

			&-sm {
				gap: 0.5rem;
			}

			&-md {
				gap: 1rem;
			}

			&-lg {
				gap: 2rem;
			}

			&-xl {
				gap: 4rem;
			}
		}
	}
}
