.radius {
	&-sm {
		border-radius: var(--bv-radius-sm);
	}
	&-md {
		border-radius: var(--bv-radius-md);
	}
	&-lg {
		border-radius: var(--bv-radius-lg);
	}
	&-xl {
		border-radius: var(--bv-radius-xl);
	}
	&-2xl {
		border-radius: var(--bv-radius-2xl);
	}
}
