.hide-scrollbar {
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		background-color: transparent;
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		box-shadow: none;
	}

	&::-webkit-scrollbar-thumb {
		border: 0;
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}
	}
}
