@mixin duration($duration) {
	&-#{$duration} {
		transition-duration: var(--bv-duration-#{$duration});
	}
}

@mixin timing-function($timing) {
	&-#{$timing} {
		@if $timing == linear {
			transition-timing-function: $timing;
		} @else {
			transition-timing-function: var(--bv-ease-#{$timing});
		}
	}
}

.duration {
	@include duration(fast);
	@include duration(normal);
	@include duration(slow);
}

.property {
	&-none {
		transition-property: none;
	}

	&-all {
		transition-property: all;
	}

	&-colors {
		transition-property: color, background-color, border-color,
			text-decoration-color, fill, stroke;
	}

	&-opacity {
		transition-property: opacity;
	}

	&-shadow {
		transition-property: box-shadow;
	}

	&-transform {
		transition-property: transform;
	}
}

.ease {
	@include timing-function(linear);
	@include timing-function(in);
	@include timing-function(in-out);
	@include timing-function(out);
}
