// Mixin for heading size
@mixin heading {
	&#{1} {
		font-size: 2.5em;
	}
	&#{2} {
		font-size: 2em;
	}
	&#{3} {
		font-size: 1.5em;
	}
	&#{4} {
		font-size: 1.25em;
	}
	&#{5} {
		font-size: 1em;
	}
	&#{6} {
		font-size: 0.75em;
	}
}

// Mixin for title size
@mixin title-size {
	&-lg {
		font-size: 2.5em;
	}

	&-md {
		font-size: 2em;
	}

	&-sm {
		font-size: 1.5em;
	}

	&-xs {
		font-size: 1.25em;
	}

	&-2xs {
		font-size: 1em;
	}

	&-3xs {
		font-size: 0.75em;
	}
}

// Mixin for text size
@mixin font-size {
	&-lg {
		font-size: 1.25em;
	}

	&-md {
		font-size: 1em;
	}

	&-sm {
		font-size: 0.75em;
	}

	&-xs {
		font-size: 0.625em;
	}
}

@mixin text($property, $values...) {
	@each $value in $values {
		&-#{$property}-#{$value} {
			text-#{$property}: $value !important;
		}
	}
}

@mixin font-style($property, $values...) {
	@each $value in $values {
		&-#{$property}-#{$value} {
			font-#{$property}: $value !important;
		}
	}
}

@mixin weight {
	&-weight {
		&-200,
		&-extra-light {
			font-weight: 200 !important;
		}

		&-300,
		&-light {
			font-weight: 300 !important;
		}

		&-400,
		&-regular {
			font-weight: 400 !important;
		}

		&-500,
		&-medium {
			font-weight: 500 !important;
		}

		&-600,
		&-semi-bold {
			font-weight: 600 !important;
		}

		&-700,
		&-bold {
			font-weight: 700 !important;
		}

		&-800,
		&-extra-bold {
			font-weight: 800 !important;
		}

		&-900,
		&-black {
			font-weight: 900 !important;
		}

		&-1000,
		&-weight {
			font-weight: 1000 !important;
		}
	}
}

// Mixin for block content
@mixin block-content {
	&-sm {
		gap: var(--block-content-sm);
	}

	&-md {
		gap: var(--block-content-md);
	}

	&-lg {
		gap: var(--block-content-lg);
	}
}

.text-content {
	width: 100%;
	display: grid;
	grid-auto-flow: row;
	gap: 1em;
	text-align: left;
}

:is(.title-lg, .title-md, .title-sm, .title-xs, .title-2xs, .title-3xs) {
	font-weight: 700;
}

.title {
	@include title-size;
}
// Responsive

.font-size {
	@include font-size;
}
// Responsive

.text {
	@include text(align, left, right, center, justify);
	@include text(
		transform,
		none,
		capitalize,
		uppercase,
		lowercase,
		full-width,
		full-size-kana
	);
	@include text(decoration, underline, overline, none);
}
// Responsive

.font {
	@include font-style(style, normal, italic, oblique);

	@include weight;
}

.line {
	&-height {
		&-1 {
			line-height: 1;
		}
	}
}
