:where(
		button,
		input[type='button'],
		input[type='submit'],
		input[type='reset'],
		a.button
	),
:where(input[type='file'])::file-selector-button {
	--_padding-block: 1rem;
	--_padding-inline: 1.5rem;

	--_color: var(--bv-hsl-gray), 20%;

	border-radius: var(--bv-radius-md);
	cursor: pointer;

	--_text-color: hsl(var(--_color));
	--_icon-color: hsl(var(--_color));
	--_background-color: var(--bv-gray-95);
	--_border-color: var(--bv-gray-95);
	--_offset-color: var(--_color);

	&:where(:not(:active, input[type='file']):hover) {
		box-shadow: var(--_border-content), var(--_offset-content);
	}

	// Color variant
	&:where(.primary, .dark) {
		--_color: var(--bv-hsl-primary-01);

		--_background-color: hsl(var(--_color));
		--_text-color: var(--bv-primary-03);
		--_icon-color: var(--bv-primary-03);
		--_border-color: hsl(var(--_color));
	}

	&:where(.secondary, .light) {
		--_color: var(--bv-hsl-primary-02);

		--_background-color: hsl(var(--_color));
		--_text-color: var(--bv-primary-01);
		--_icon-color: var(--bv-primary-01);
		--_border-color: hsl(var(--_color));
	}

	&:where(.violet) {
		--_color: var(--bv-hsl-violet), 60%;

		--_background-color: hsl(var(--_color));
		--_text-color: var(--bv-primary-03);
		--_icon-color: var(--bv-primary-03);
		--_border-color: hsl(var(--_color));
	}

	&:where(.outlined) {
		--_text-color: hsl(var(--_color));
		--_icon-color: hsl(var(--_color));
		--_background-color: transparent;
		--_border-color: hsl(var(--_color));
		--_offset-color: var(--_color);
	}
}

:where(input[type='file']) {
	--_border-color: var(--bv-gray-95);
	padding-right: 0.5rem;
	border-radius: var(--bv-radius-md);
}
