:where(input[type='checkbox'], input[type='radio']) {
	--_padding-inline: 0;
	--_padding-block: 0;
	--_border-size: 0.1875rem;
	--_border-color: var(--bv-gray-80);
	--_size: 2rem;
	--_background-color: transparent;

	position: relative;
	width: var(--_size);
	height: var(--_size);
	cursor: pointer;

	&::before {
		--_icon-size: 1rem;
		content: '';
		opacity: 0;

		width: var(--_icon-size);
		height: var(--_icon-size);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: opacity var(--bv-duration-normal) var(--bv-ease-in-out);
	}

	&:where(:not(:active):hover) {
		&::before {
			opacity: 1;
		}
	}

	&:checked {
		--_border-color: var(--bv-primary-01);

		&::before {
			opacity: 1;
		}
	}

	&:where(.sm) {
		--_size: 1rem;

		&::before {
			--_icon-size: 0.5rem;
		}
	}
}

:where(input[type='checkbox']) {
	border-radius: var(--bv-radius-md);

	&::before {
		--_icon-hover: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.2131 13.4667C6.50976 14.1778 5.36119 14.1778 4.65785 13.4667L0.527504 9.29166C-0.175835 8.58059 -0.175835 7.41941 0.527504 6.70834C1.23084 5.99728 2.37942 5.99728 3.08276 6.70834L5.93483 9.59174L12.9172 2.5333C13.6206 1.82223 14.7692 1.82223 15.4725 2.5333C16.1758 3.24436 16.1758 4.40555 15.4725 5.11661L7.2131 13.4667Z' fill='%23CCCCCC'/%3E%3C/svg%3E");
		--_icon-checked: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.2131 13.4667C6.50976 14.1778 5.36119 14.1778 4.65785 13.4667L0.527504 9.29166C-0.175835 8.58059 -0.175835 7.41941 0.527504 6.70834C1.23084 5.99728 2.37942 5.99728 3.08276 6.70834L5.93483 9.59174L12.9172 2.5333C13.6206 1.82223 14.7692 1.82223 15.4725 2.5333C16.1758 3.24436 16.1758 4.40555 15.4725 5.11661L7.2131 13.4667Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
		--_background-image: var(--_icon-hover);

		background-image: var(--_background-image);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&:where(:not(:active):hover) {
		&::before {
			--_background-image: var(--_icon-hover);
		}
	}

	&:checked {
		--_background-color: var(--bv-primary-01);

		&::before {
			--_background-image: var(--_icon-checked);
		}

		&:where(:not(:active):hover) {
			--_border-color: var(--bv-gray-02);
			--_background-color: var(--bv-gray-02);
		}
	}

	&.sm {
		--_border-size: 0.125rem;
		border-radius: var(--bv-radius-sm);
	}
}

:where(input[type='radio']) {
	border-radius: calc(var(--_size) / 2);

	&::before {
		--_icon-size: 1rem;
		border-radius: calc(var(--_size) / 2);
		background-color: var(--bv-gray-02);
	}

	&:checked {
		&::before {
			background-color: var(--bv-primary-01);
		}
	}

	&.sm {
		--_border-size: 0.125rem;

		&::before {
			--_icon-size: 0.5rem;
		}
	}
}
