:where(button, input, textarea, select, a, a.button),
:where(input[type='file'])::file-selector-button {
	--_padding-block: 0rem;
	--_padding-inline: 0rem;

	--_background-color: transparent;
	--_text-color: var(--bv-gray-04);
	--_icon-color: var(--_text-color);
	--_icon-size: var(--bv-text-form-md);

	--_border-size: 0.125rem;
	--_border-color: var(--bv-gray-50);
	--_border-content: inset 0rem 0rem 0rem var(--_border-size)
		var(--_border-color);

	--_offset-size: 0.25rem;
	--_offset-color: 0, 0%, 80%;
	--_offset-strength: 0.25;
	--_offset-content: 0rem 0rem 0rem var(--_offset-size)
		hsla(var(--_offset-color), var(--_offset-strength));

	--_shadow-size: 0px 4px 4px;
	--_shadow-color: 185, 72%, 50%;
	--_shadow-strength: 0.25;
	--_shadow-content: var(--_shadow-size)
		hsla(var(--_shadow-color), var(--_shadow-strength));

	--_transition-motion-reduce: none;
	--_transition-motion-ok: box-shadow var(--bv-duration-normal)
			var(--bv-ease-in-out),
		outline-offset var(--bv-duration-normal) var(--bv-ease-in-out),
		background-color var(--bv-duration-normal) var(--bv-ease-in-out),
		color var(--bv-duration-normal) var(--bv-ease-in-out);
	--_transition: var(--_transition-motion-reduce);

	font-family: var(--bv-font-form);
	font-size: var(--bv-text-md);
	font-weight: 600;
	line-height: 1;
	letter-spacing: inherit;
	text-decoration: none;

	touch-action: manipulation;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	appearance: none;

	padding-inline: var(--_padding-inline);
	padding-block: var(--_padding-block);
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	gap: 0.5rem;

	background-color: var(--_background-color);
	color: var(--_text-color);
	border: none;
	box-shadow: var(--_border-content);
	transition: var(--_transition);

	&:where(:not(:active)):focus-visible {
		outline-offset: 4px;
	}

	@media (prefers-reduced-motion: no-preference) {
		--_transition: var(--_transition-motion-ok);
	}
}

:where(button, input, textarea, select, a, a.button)
	> :where(i, svg, [data-icon]) {
	color: var(--_icon-color);
	font-size: var(--bv-icon-form-md);

	&.icon-md {
		font-size: var(--bv-icon-form-md);
	}

	&.icon-lg {
		font-size: var(--bv-icon-form-lg);
	}
}
