:where(select) {
	appearance: auto;
	cursor: pointer;
}

.select-arrow {
	z-index: 1;
	position: relative;
	background-color: var(--bv-primary-03);
	border-radius: var(--bv-radius-md);
	select {
		--_padding-block: 16px;
		--_background-color: transparent;

		appearance: none;
		padding-right: 2.5rem;
	}
	&::before {
		--_icon: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66679 4.47484C1.83346 4.31929 2.0279 4.23873 2.25012 4.23318C2.47235 4.22762 2.66679 4.30818 2.83346 4.47484L7.96679 9.60818L13.1001 4.47485C13.2557 4.31929 13.4473 4.23873 13.6751 4.23318C13.9029 4.22762 14.1001 4.30818 14.2668 4.47485C14.4335 4.61929 14.5196 4.80818 14.5251 5.04151C14.5307 5.27485 14.4501 5.46929 14.2835 5.62485L8.43346 11.4915C8.36679 11.5582 8.29457 11.6082 8.21679 11.6415C8.13901 11.6748 8.05568 11.6915 7.96679 11.6915C7.8779 11.6915 7.79457 11.6748 7.71679 11.6415C7.63901 11.6082 7.56679 11.5582 7.50012 11.4915L1.65012 5.64151C1.49457 5.48596 1.41679 5.29429 1.41679 5.06651C1.41679 4.83873 1.50012 4.64151 1.66679 4.47484Z' fill='%23808080'/%3E%3C/svg%3E");

		content: '';
		z-index: -1;
		width: 1rem;
		height: 1rem;
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);

		background-image: var(--_icon);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
